In [ ]:
import sqlite3

# Creation of Database / Tables / Inserting Values

In [5]:
conn = sqlite3.connect("assignment.db") # represent connection to the on disk database

In [6]:
cs = conn.cursor()

In [4]:
cs.execute("DROP TABLE IF NOT EXISTS Departments;")

OperationalError: database is locked

In [ ]:
conn.commit()
conn.close()

In [ ]:
cs.execute("DROP TABLE IF NOT EXISTS Students;")

In [ ]:
cs.execute("DROP TABLE IF NOT EXISTS Subjects;")

In [ ]:
cs.execute("DROP TABLE IF NOT EXISTS marks;")

In [11]:
cs.execute("""
    CREATE TABLE IF NOT EXISTS Departments (
    dept_id INTEGER PRIMARY KEY AUTOINCREMENT, 
    dept_name TEXT, 
    hod_name TEXT
    )
""")

In [12]:
cs.execute("""
    CREATE TABLE IF NOT EXISTS  Students (
    student_id INTEGER PRIMARY KEY AUTOINCREMENT, 
    stud_name TEXT, 
    stclass TEXT, 
    dept_id INTEGER,
    FOREIGN KEY (dept_id) REFERENCES Departments (dept_id)
    )
""")

In [ ]:
cs.execute("""
    CREATE TABLE IF NOT EXISTS Subjects (
    subject_id INTEGER PRIMARY KEY AUTOINCREMENT, 
    subject_name TEXT, 
    dept_id INTEGER,
    FOREIGN KEY (dept_id) REFERENCES Departments (dept_id)
    )
""")

In [13]:
cs.execute("""
    CREATE TABLE IF NOT EXISTS Marks (
    mark_id INTEGER PRIMARY KEY AUTOINCREMENT, 
    student_id INTEGER, 
    subject_id INTEGER, 
    marks REAL,
    FOREIGN KEY (student_id) REFERENCES Students (student_id),
    FOREIGN KEY (subject_id) REFERENCES Subjects (subject_id)
    )
""")

In [17]:
department_data = [
    ("TECH", "Abdul"),
    ("HR", "Amalda"),
    ("Sales", "Lester")
]

In [18]:
cs.executemany("INSERT INTO Departments (dept_name, hod_name) VALUES (?,?)",department_data)

In [19]:
cs.execute("select * from departments").fetchall()

[(1, 'TECH', 'Abdul'),
 (2, 'HR', 'Amalda'),
 (3, 'Sales', 'Lester'),
 (4, 'TECH', 'Abdul'),
 (5, 'HR', 'Amalda'),
 (6, 'Sales', 'Lester')]

In [20]:
student_data = [
    ("Nikita", "Challengers", 2),
    ("Rishabh", "Super Stars", 1),
    ("Nitin", "Master Minds", 3),
    ("Kirtan", "Challengers", 2),
    ("Mehul", "Super Stars", 1),
    ("Heer", "Master Minds", 3),
    ("Jalpa", "Master Minds", 1),
]

In [21]:
cs.executemany("insert into students(stud_name,stclass,dept_id) values(?,?,?)",student_data)

In [22]:
cs.execute("select * from Students").fetchall()

[(1, 'Nikita', 'Challengers', 2),
 (2, 'Rishabh', 'Super Stars', 1),
 (3, 'Nitin', 'Master Minds', 3),
 (4, 'Kirtan', 'Challengers', 2),
 (5, 'Mehul', 'Super Stars', 1),
 (6, 'Heer', 'Master Minds', 3),
 (7, 'Jalpa', 'Master Minds', 1)]

In [23]:
subj_data = [
    ("DS",1),
    ("Android",1),
    ("Iphone",1),
    ("Management",2),
    ("Recruitement",2),
    ("Market",3),
    ("Customer",3)
]

In [24]:
cs.executemany("insert into subjects (subject_name,dept_id) values(?,?)",subj_data)

In [25]:
cs.execute("select * from subjects").fetchall()

[(1, 'DS', 1),
 (2, 'Android', 1),
 (3, 'Iphone', 1),
 (4, 'Management', 2),
 (5, 'Recruitement', 2),
 (6, 'Market', 3),
 (7, 'Customer', 3)]

In [26]:
marks_data = [
    (1,4,76),
    (1,5,84),
    (2,1,67),
    (2,2,97),
    (2,3,60),
    (3,6,78),
    (3,7,86),
    (4,4,80),
    (4,5,71),
    (5,1,43),
    (5,2,67),
    (5,3,89),
    (6,6,78),
    (6,7,23),
    (7,1,97),
    (7,2,90),
    (7,3,91)
]

In [27]:
cs.executemany("insert into marks (student_id,subject_id,marks) values(?,?,?)",marks_data)

In [28]:
cs.execute("select * from marks").fetchall()

[(1, 1, 4, 76.0),
 (2, 1, 5, 84.0),
 (3, 2, 1, 67.0),
 (4, 2, 2, 97.0),
 (5, 2, 3, 60.0),
 (6, 3, 6, 78.0),
 (7, 3, 7, 86.0),
 (8, 4, 4, 80.0),
 (9, 4, 5, 71.0),
 (10, 5, 1, 43.0),
 (11, 5, 2, 67.0),
 (12, 5, 3, 89.0),
 (13, 6, 6, 78.0),
 (14, 6, 7, 23.0),
 (15, 7, 1, 97.0),
 (16, 7, 2, 90.0),
 (17, 7, 3, 91.0)]

# Functions

In [29]:
def add_student(conn, stud_name, stclass, dept_id):
    conn.execute("INSERT INTO Students (stud_name, stclass, dept_id) VALUES (?, ?, ?)", (stud_name, stclass, dept_id))
    conn.commit()

def add_subject(conn, subject_name,dept_id):
    conn.execute("insert into subjects (subject_name,dept_id) values(?,?)",(subject_name,dept_id))
    conn.commit()
    
def add_marks(conn,student_id,subject_id,marks):
    conn.execute("insert into marks (student_id,subject_id,marks) values(?,?,?)",(student_id,subject_id,marks))
    conn.commit()

# Function - Display students with department name (JOIN)

In [30]:
def show_students(conn):
    return cs.execute("""
        select s.student_id,s.stud_name,s.stclass,s.dept_id,d.dept_name
        from Students s
        left join departments d on s.dept_id = d.dept_id
    """).fetchall()

In [31]:
show_students(conn)

[(1, 'Nikita', 'Challengers', 2, 'HR'),
 (2, 'Rishabh', 'Super Stars', 1, 'TECH'),
 (3, 'Nitin', 'Master Minds', 3, 'Sales'),
 (4, 'Kirtan', 'Challengers', 2, 'HR'),
 (5, 'Mehul', 'Super Stars', 1, 'TECH'),
 (6, 'Heer', 'Master Minds', 3, 'Sales'),
 (7, 'Jalpa', 'Master Minds', 1, 'TECH')]

# Display all subjects with their department

In [32]:
def show_subjects(conn):
    return cs.execute("""
        select s.subject_name, d.dept_name
        from subjects s
        left join departments d on s.dept_id = d.dept_id
    """).fetchall()

In [33]:
show_subjects(conn)

[('DS', 'TECH'),
 ('Android', 'TECH'),
 ('Iphone', 'TECH'),
 ('Management', 'HR'),
 ('Recruitement', 'HR'),
 ('Market', 'Sales'),
 ('Customer', 'Sales')]

# Display each studentâ€™s marks with subject names (JOIN) - 3 Tables Join

In [34]:
def show_marks(conn):
    return cs.execute("""
        select st.stud_name, su.subject_name, m.marks
        from marks m
        left join students st on m.student_id = st.student_id
        left join subjects su on m.subject_id = su.subject_id
    """).fetchall()

In [35]:
show_marks(conn)

[('Nikita', 'Management', 76.0),
 ('Nikita', 'Recruitement', 84.0),
 ('Rishabh', 'DS', 67.0),
 ('Rishabh', 'Android', 97.0),
 ('Rishabh', 'Iphone', 60.0),
 ('Nitin', 'Market', 78.0),
 ('Nitin', 'Customer', 86.0),
 ('Kirtan', 'Management', 80.0),
 ('Kirtan', 'Recruitement', 71.0),
 ('Mehul', 'DS', 43.0),
 ('Mehul', 'Android', 67.0),
 ('Mehul', 'Iphone', 89.0),
 ('Heer', 'Market', 78.0),
 ('Heer', 'Customer', 23.0),
 ('Jalpa', 'DS', 97.0),
 ('Jalpa', 'Android', 90.0),
 ('Jalpa', 'Iphone', 91.0)]

# Show subject-wise marks, total, average, grade, pass/fail

In [47]:
def calculate_grade(avg):
    if avg >= 85:
        return 'A'
    elif avg >= 70:
        return 'B'
    elif avg >= 50:
        return 'C'
    else:
        return 'F'

def student_report(student_id):
    cs.execute("""
        select stud_name from students where student_id = ?
    """,(student_id,))
    student = cs.fetchone()
    print(f"You selected: {student[0]}")

    cs.execute("""
        select su.subject_name, m.marks
        from marks m
        inner join Subjects su ON m.subject_id = su.subject_id
        where m.student_id = ?
    """, (student_id,))
    
    records = cs.fetchall()
    print(f"Subjects with Marks: {records}")
    
    marks_total = 0
    sub_count = 0
    check_pass = True

    for subject_name,marks in records:
        marks_total += marks
        sub_count += 1
        if marks<50:
            check_pass = fail

    avg = marks_total / sub_count if sub_count > 0 else 0
    grade = calculate_grade(avg)
    status = "Pass" if check_pass else "Fail"
    print(f"Total Marks of {student[0]}: {marks_total}")
    print(f"Average Marks of {student[0]}: {avg}")
    print(f"Grade of {student[0]}: {grade}")
    print(f"Status: {status}")
    return

In [48]:
student_report(1)

You selected: Nikita
Subjects with Marks: [('Management', 76.0), ('Recruitement', 84.0)]
Total Marks of Nikita: 160.0
Average Marks of Nikita: 80.0
Grade of Nikita: B
Status: Pass

# Show topper in each subject

In [38]:
def toppers(conn):
    return cs.execute("""
        select su.subject_name, st.stud_name, max(m.marks)
        from marks m
        inner join students st on m.student_id = st.student_id
        inner join subjects su on m.subject_id = su.subject_id
        group by su.subject_name
    """)
    topper_list = cs.fetchall()
    print(topper_list)

In [39]:
toppers(conn)

 # overall topper

In [40]:
def Overall(conn):
    return cs.execute("""
        select st.stud_name, sum(m.marks) as total
        from marks m
        inner join students st on m.student_id = st.student_id
        group by st.stud_name
        order by total desc limit 1
    """).fetchone()

In [41]:
Overall(conn)

('Jalpa', 278.0)

# Show average marks department-wise (JOIN + GROUP BY)

In [42]:
def department_summary(conn):
    return cs.execute("""
        select d.dept_name, round(avg(m.marks),2)
        from marks m
        inner join students s on m.student_id = s.student_id
        inner join departments d on s.dept_id = d.dept_id
        group by d.dept_name
    """).fetchall()

In [43]:
department_summary(conn)

[('HR', 77.75), ('Sales', 66.25), ('TECH', 77.89)]

# Return unique subjects as a set

In [44]:
def unique_subjects(conn):
    cs.execute("""
        select distinct subject_name
        from subjects
    """)
    subjects = {i[0] for i in cs.fetchall()}
    return subjects

In [45]:
unique_subjects(conn)

{'Android', 'Customer', 'DS', 'Iphone', 'Management', 'Market', 'Recruitement'}