In [2]:
import sqlite3

In [3]:
conn = sqlite3.connect("mysql.db")

In [4]:
cusor = conn.cursor()

In [5]:
cusor.execute("""

    CREATE TABLE student(
     st_id INTEGER,
     st_name TEXT,
     st_marks DECIMAL,
     st_subjects TEXT

    )
""")

In [11]:
cusor.execute("select   name from sqlite_master where type = 'table';")

In [12]:
cusor.fetchall()

[('student',)]

NameError: name 'cursor' is not defined