In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect("mysql.db")

SQL sever:
multiple Database
each we can 
create multiple Table 

each table
columns name 
row

In [4]:
cusor = conn.cursor()

In [6]:
cusor.execute(""" 

    CREATE TABLE student(
       st_id INTEGER, 
       st_name TEXT, 
       st_marks DECIMAL, 
       st_subjects TEXT
    
    )
""")

In [11]:
cusor.execute("select  name from sqlite_master where type='table';")

In [12]:
cusor.fetchall()

[('student',)]

In [13]:
stud_data = [(1, "ali", 45, "chem"), (3, "ahmed", 56, "phy"), (5, "basit", 78, "math")]

In [14]:
stud_data

[(1, 'ali', 45, 'chem'), (3, 'ahmed', 56, 'phy'), (5, 'basit', 78, 'math')]

In [15]:
cusor.executemany("INSERT INTO student (st_id,st_name, st_marks, st_subjects) VALUES (?, ? , ? ,?)", stud_data)

In [32]:
cusor.execute("select * from student").fetchall()

[(1, 'irfan', 45, 'chem'), (3, 'ahmed', 56, 'phy'), (5, 'basit', 78, 'math')]

In [30]:
cusor.execute("select * from student where st_marks > 53")

In [31]:
cusor.fetchall()

[(3, 'ahmed', 56, 'phy'), (5, 'basit', 78, 'math')]

In [22]:
cusor.execute("select COUNT(*), AVG(st_marks) from student").fetchone()

(3, 59.666666666666664)

In [28]:
cusor.execute("UPDATE student set st_name='irfan' where st_id=1")

AttributeError: 'sqlite3.Cursor' object has no attribute 'commit'