In [5]:
import sqlite3

In [20]:
def init_db():
    conn = sqlite3.connect(":memory:")  # in-memory DB (use "mydb.db" for file)
    cursor = conn.cursor()

    # Create tables
    cursor.execute("""
    CREATE TABLE departments (
        dept_id INTEGER PRIMARY KEY AUTOINCREMENT,
        dept_name TEXT NOT NULL,
        location TEXT
    )
    """)

    cursor.execute("""
    CREATE TABLE employees (
        emp_id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        dept_id INTEGER,
        salary REAL,
        FOREIGN KEY (dept_id) REFERENCES departments(dept_id)
    )
    """)

    # Insert sample data
    departments = [
        ("HR", "New York"),
        ("Engineering", "San Francisco"),
        ("Marketing", "Chicago"),
        ("Sales", "UK")
    ]
    cursor.executemany("INSERT INTO departments (dept_name, location) VALUES (?, ?)", departments)
    employees = [
        ("Alice", 1, 50000),
        ("Bob", 2, 70000),
        ("Charlie", 2, 80000),
        ("Diana", 3, 60000),
        ("Eve", 1, 55000),
        ("Test", 7, 55000),
        
    ]
    cursor.executemany("INSERT INTO employees (name, dept_id, salary) VALUES (?, ?, ?)", employees)

    conn.commit()
    return conn

In [21]:
def get_all_employees(conn):
    return conn.execute("SELECT * FROM employees").fetchall()

def get_engineering_employees(conn):
    return conn.execute("SELECT name, salary FROM employees WHERE dept_id = 2").fetchall()

def get_statistics(conn):
    return conn.execute("SELECT COUNT(*), AVG(salary), MAX(salary) FROM employees").fetchone()

def add_employee(conn, name, dept_id, salary):
    conn.execute("INSERT INTO employees (name, dept_id, salary) VALUES (?, ?, ?)", (name, dept_id, salary))
    conn.commit()

def update_salary(conn, name, increment):
    conn.execute("UPDATE employees SET salary = salary + ? WHERE name = ?", (increment, name))
    conn.commit()

def delete_employee(conn, name):
    conn.execute("DELETE FROM employees WHERE name = ?", (name,))
    conn.commit()

In [22]:
conn = init_db()

In [23]:
get_all_employees(conn)

[(1, 'Alice', 1, 50000.0),
 (2, 'Bob', 2, 70000.0),
 (3, 'Charlie', 2, 80000.0),
 (4, 'Diana', 3, 60000.0),
 (5, 'Eve', 1, 55000.0),
 (6, 'Test', 7, 55000.0)]

In [24]:
def get_employees_with_departments(conn):
    return conn.execute("""
        SELECT e.name, d.dept_name, d.location, e.salary
        FROM employees e
        INNER JOIN departments d ON e.dept_id = d.dept_id
    """).fetchall()

def get_all_employees_with_optional_dept(conn):
    return conn.execute("""
        SELECT e.name, d.dept_name, d.location
        FROM employees e
        LEFT JOIN departments d ON e.dept_id = d.dept_id
    """).fetchall()

def get_all_departments_with_employees(conn):
    # Simulated RIGHT JOIN using LEFT JOIN with swapped tables
    return conn.execute("""
        SELECT d.dept_name, d.location, e.name
        FROM departments d
        LEFT JOIN employees e ON e.dept_id = d.dept_id
    """).fetchall()

def get_avg_salary_by_department(conn):
    return conn.execute("""
        SELECT d.dept_name, AVG(e.salary) AS avg_salary
        FROM employees e
        INNER JOIN departments d ON e.dept_id = d.dept_id
        GROUP BY d.dept_name
    """).fetchall()


def get_cross_join(conn):
    return conn.execute("""
        SELECT e.name, d.dept_name
        FROM employees e
        CROSS JOIN departments d
        LIMIT 10
    """).fetchall()

In [25]:
get_employees_with_departments(conn)

[('Alice', 'HR', 'New York', 50000.0),
 ('Bob', 'Engineering', 'San Francisco', 70000.0),
 ('Charlie', 'Engineering', 'San Francisco', 80000.0),
 ('Diana', 'Marketing', 'Chicago', 60000.0),
 ('Eve', 'HR', 'New York', 55000.0)]

In [26]:
get_all_employees_with_optional_dept(conn)

[('Alice', 'HR', 'New York'),
 ('Bob', 'Engineering', 'San Francisco'),
 ('Charlie', 'Engineering', 'San Francisco'),
 ('Diana', 'Marketing', 'Chicago'),
 ('Eve', 'HR', 'New York'),
 ('Test', None, None)]

In [27]:
get_all_departments_with_employees(conn)

[('HR', 'New York', 'Alice'),
 ('HR', 'New York', 'Eve'),
 ('Engineering', 'San Francisco', 'Bob'),
 ('Engineering', 'San Francisco', 'Charlie'),
 ('Marketing', 'Chicago', 'Diana'),
 ('Sales', 'UK', None)]

In [28]:
get_avg_salary_by_department(conn)

[('Engineering', 75000.0), ('HR', 52500.0), ('Marketing', 60000.0)]

In [29]:
get_cross_join(conn)

[('Alice', 'HR'),
 ('Alice', 'Engineering'),
 ('Alice', 'Marketing'),
 ('Alice', 'Sales'),
 ('Bob', 'HR'),
 ('Bob', 'Engineering'),
 ('Bob', 'Marketing'),
 ('Bob', 'Sales'),
 ('Charlie', 'HR'),
 ('Charlie', 'Engineering')]

In [ ]:
conn = init_db()

print("\n--- All Employees ---")
print(get_all_employees(conn))

print("\n--- Engineering Employees ---")
print(get_engineering_employees(conn))

print("\n--- Employee Statistics (count, avg, max) ---")
print(get_statistics(conn))

print("\n--- Add new employee (Frank, Marketing, 65000) ---")
add_employee(conn, "Frank", 3, 65000)
print(get_all_employees(conn))

print("\n--- Update Alice's salary (+5000) ---")
update_salary(conn, "Alice", 5000)
print(get_all_employees(conn))

print("\n--- Delete Eve ---")
delete_employee(conn, "Eve")
print(get_all_employees(conn))

print("\n--- INNER JOIN Employees with Departments ---")
print(get_employees_with_departments(conn))

print("\n--- LEFT JOIN Employees (all employees, dept optional) ---")
print(get_all_employees_with_optional_dept(conn))

print("\n--- RIGHT JOIN Simulation (all departments, employees if any) ---")
print(get_all_departments_with_employees(conn))

print("\n--- Average Salary by Department ---")
print(get_avg_salary_by_department(conn))

print("\n--- CROSS JOIN (first 10 combos) ---")
print(get_cross_join(conn))

conn.close()